.form-horizontal{
    
        padding: 25px;
        float: right;
        margin-top: 120px;
        border: 1px solid #274993;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
        margin: 150px 150px auto auto;
}

.form-horizontal .form-group:last-child{
    margin-bottom: 0;
}

.form-container {
    
    height: 80vh;
}

/* #thankYou{
    display: none;
} */

.loginBtn{
     background-color: #274993;
     color: #fff;
}

